# Virtual Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Database
*.db
*.sqlite3

# Alembic
alembic/versions/__pycache__/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/